<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#" class="active">MAP</a></li>
    <li><a ng-href="#">LIST</a></li>
  </ul>
  <h3 class="text-muted">JUST-EAT Demo Page</h3>
</div>

<div class="rowlist">
  <ul>
    <li data-ng-repeat="row in data">
      <div class="clearfix row">
        <img data-ng-src="{{row.LogoUrl}}"/>
        <h3>{{row.Name}}</h3>
        <div class="info">
          <p></p>
          <div rating="4" class="stars"></div>
          <p class="reviews">({{row.ratings.number}})</p>
          <p class="distance">{{row.distance}}</p>
        <div>
      </div>
    </li>
  </ul>    
</div>



<div class="footer">
  <p>_Alz</p>
</div>
<!--p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p-->