<span data-ng-if="rating">
	<i class="fa fa-star" data-ng-class="{'rated': rated(0), 'fa-star-half-empty': half(0) }"></i>
	<i class="fa fa-star" data-ng-class="{'rated': rated(1), 'fa-star-half-empty': half(1) }"></i>
	<i class="fa fa-star" data-ng-class="{'rated': rated(2), 'fa-star-half-empty': half(2) }"></i>
	<i class="fa fa-star" data-ng-class="{'rated': rated(3), 'fa-star-half-empty': half(3) }"></i>
	<i class="fa fa-star" data-ng-class="{'rated': rated(4), 'fa-star-half-empty': half(4) }"></i>
	<i class="fa fa-star" data-ng-class="{'rated': rated(5), 'fa-star-half-empty': half(5) }"></i>
</span>